/* Name: Dracula */
:root {
  --paper: #f8f8f2;
  --surface: #f1f2f4;
  --sunken: #f1f2f4;
  --card: #ffffff;
  --ink: #282a36;
  --ink-2: #44475a;
  --ink-3: #6272a4;
  --line: #e2e4e9;
  --line-2: #e2e4e9;
  --accent: #bd93f9;
  --accent-press: #ff79c6;
  --accent-soft: rgba(189, 147, 249, 0.12);
}

:root.dark {
  --paper: #282a36;
  --surface: #44475a;
  --sunken: #44475a;
  --card: #1e1f29;
  --ink: #ff79c6;
  --ink-2: #f8f8f2;
  --ink-3: #6272a4;
  --line: #44475a;
  --line-2: #44475a;
  --accent: #bd93f9;
  --accent-press: #ff79c6;
  --accent-soft: rgba(189, 147, 249, 0.2);
}
