/* Name: Vercel */
:root {
  --paper: #ffffff;
  --surface: #eaeaea;
  --sunken: #eaeaea;
  --card: #fafafa;
  --ink: #000000;
  --ink-2: #444444;
  --ink-3: #888888;
  --line: #eaeaea;
  --line-2: #eaeaea;
  --accent: #000000;
  --accent-press: #111111;
  --accent-soft: rgba(0, 0, 0, 0.12);
}

:root.dark {
  --paper: #000000;
  --surface: #222222;
  --sunken: #222222;
  --card: #111111;
  --ink: #ffffff;
  --ink-2: #888888;
  --ink-3: #666666;
  --line: #333333;
  --line-2: #333333;
  --accent: #ffffff;
  --accent-press: #eeeeee;
  --accent-soft: rgba(255, 255, 255, 0.2);
}
